<section class="blog">
	<div class="container">
		<div class="blog__article">
			<h2 class="title blog__article-title">Our Insights & Articles</h2>
			<a class="blog__article-link" href="#">View All</a>
		</div>

		<div class="blog__inner">
			<div class="blog__item">
				<a class="blog__item-imgBox" href="#">
					<img class="blog__item-imgBox__img" src="img/blog/item_1.jpg" alt="Blog img" />
				</a>

				<div class="blog__item-info">
					<span class="blog__item-info__news">NEWS</span>
					<div class="blog__item-info__text">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
					<div class="blog__item-info-content">
						<a class="blog__item-info-content__date" href="#"><i class="fa-regular fa-calendar"></i> 28 JANUARY, 2020</a>
						<a class="blog__item-info-content__author" href="#"><i class="fa-regular fa-user"></i> BY ADMIN</a>
					</div>
				</div>
			</div>
			<div class="blog__item">
				<a class="blog__item-imgBox" href="#">
					<img class="blog__item-imgBox__img" src="img/blog/item_2.jpg" alt="Blog img" />
				</a>

				<div class="blog__item-info">
					<span class="blog__item-info__news">NEWS</span>
					<div class="blog__item-info__text">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
					<div class="blog__item-info-content">
						<a class="blog__item-info-content__date" href="#"><i class="fa-regular fa-calendar"></i> 28 JANUARY, 2020</a>
						<a class="blog__item-info-content__author" href="#"><i class="fa-regular fa-user"></i> BY ADMIN</a>
					</div>
				</div>
			</div>
			<div class="blog__item">
				<a class="blog__item-imgBox" href="#">
					<img class="blog__item-imgBox__img" src="img/blog/item_3.jpg" alt="Blog img" />
				</a>

				<div class="blog__item-info">
					<span class="blog__item-info__news">NEWS</span>
					<div class="blog__item-info__text">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
					<div class="blog__item-info-content">
						<a class="blog__item-info-content__date" href="#"><i class="fa-regular fa-calendar"></i> 28 JANUARY, 2020</a>
						<a class="blog__item-info-content__author" href="#"><i class="fa-regular fa-user"></i> BY ADMIN</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'app/module/partners/partners.html' %}

	
</section>
