<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/terms.min.css" />
		<title>Terms & Conditions</title>
	</head>
	<body>
		{% include "app/module/header/header.html" %}

		<main class="main">
			<section class="breadcrumbs">
				<div class="container">
					<div class="breadcrumbs__title">Terms & Conditions</div>

					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="index.html" class="breadcrumbs__item-link"> Home </a>
						</li>
						<li class="breadcrumbs__item">
							<a href="#" class="breadcrumbs__item-link"> Terms & Conditions </a>
						</li>
					</ul>
				</div>
			</section>


			
			{% include "app/module/terms/terms.html" %}
			{% include "app/module/blog/blog.njk" %}
		</main>

		
		{% include "app/module/footer/footer.html" %}

		<script src="js/main.min.js"></script>
	</body>
</html>
