.about {
	padding: 120px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__img {
		width: 570px;
		height: 100%;

		object-fit: cover;
	}

	&__content {
		width: 560px;

		&-suptitle {
			display: flex;
			align-items: flex-end;

			margin-bottom: 30px;

			span {
				@extend %Rubik-700;
				font-size: 140px;
				line-height: 100px;
				color: $accent-color;

				margin-right: 20px;
			}

			&__list {
				width: 100px;

				li {
					@extend %Rubik-400;
				}

				li + li {
					margin-top: 7px;
				}
			}
		}

		&-title {
			@extend %DMSans-700;
			font-size: 36px;

			margin-bottom: 25px;
		}

		&-text {
			@extend %Rubik-400;
			line-height: 30px;

			margin-bottom: 65px;
		}

		&-box {
			border-top: 2px solid #e6eaf0;
			padding-top: 30px;

			&__list {
				display: flex;
				justify-content: space-between;

				&-item {
					padding: 10px 0 10px 85px;

					position: relative;

					&::before {
						content: '';

						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 20px;

						width: 43px;
						height: 40px;
					}

					&:nth-child(1)::before {
						width: 36px;
						height: 37px;

						background: url(../img/about/note.svg);
					}
					&:nth-child(2)::before {
						background: url(../img/about/voice.svg);
					}
					&:nth-child(3)::before {
						width: 42px;

						background: url(../img/about/medal.svg);
					}

					&__title {
						@extend %DMSans-700;
						font-size: 36px;
					}

					&__subtitle {
						@extend %DMSans-700;
						color: #4c4c4c;
						margin-left: 5px;
					}
				}

				&-item + &-item {
					border-left: 1px solid #e6eaf0;
				}
			}
		}
	}
}
