.footer {
	&-top {
		padding: 80px 0 75px;
		display: flex;

		border-bottom: 1px solid #dae4e9;

		&__item--contact {
			width: 200px;
			margin-right: 100px;
		}

		&__logo {
			display: block;
			margin-bottom: 25px;
			align-self: end;
		}

		&__address,
		&__phone,
		&__email {
			@extend %Rubik-400;
			font-size: 14px;
			line-height: 24px;
			color: $footer-color;

			margin-bottom: 10px;

			display: block;
		}

		&__item--services {
			width: 170px;
			margin-right: 130px;
		}

		&__title {
			padding-top: 15px;
			margin-bottom: 30px;
			@extend %DMSans-700;
			font-size: 16px;
			line-height: 21px;
			color: #1f2044;
		}

		&__menu-item {
			margin-bottom: 14px;
		}

		&__menu-link {
			color: $footer-color;
			@extend %Rubik-400;
			font-size: 14px;
			line-height: 1;
		}

		&__item--nav {
			width: 100px;
			margin-right: 200px;
		}

		&__item--newsletter {
			max-width: 270px;
		}

		&__text {
			font-size: 14px;
			line-height: 24px;
			@extend %Rubik-400;
			color: $footer-color;

			margin-bottom: 35px;
		}

		&__form {
			display: flex;

			&-input {
				max-width: 170px;

				border: none;

				padding: 12px 15px;
				outline: 1px solid transparent;

				background-color: #fef7f0;

				transition: all .2s linear;

				&::placeholder {
					@extend %DMSans-400;
					color: #234969;
					font-size: 12px;
				}

				&:focus {
					outline-color: #a3bbc8;
				}
			}

			&-btn {
				background-color: #a3bbc8;
				color: #fff;

				@extend %DMSans-400;
				font-size: 14px;
				line-height: 21px;

				padding: 10px 17px;

				border: none;
				cursor: pointer;
			}
		}
	}

	&-bottom {
		padding: 35px 0;

		@extend %Rubik-400;
		font-size: 14px;
		line-height: 16px;
		color: $footer-color;

		display: flex;
		justify-content: space-between;

		&__menu-list {
			display: flex;
			justify-content: space-between;
		}

		&__menu-item + &__menu-item{
			border-left: 2px solid $footer-color;

			margin-left: 14px;
			padding-left: 14px;
		}

		&__menu-link {
			color: $footer-color;
		}
	}
}
