$header-color: #436372;
$default-color: #243f4d;
$title-color: #191919;

%DMSans-400 {
	font-family: 'DMSans-Regular';
	font-weight: 400;
}

%DMSans-500 {
	font-family: 'DMSans-Medium';
	font-weight: 500;
}

%DMSans-700 {
	font-family: 'DMSans-Bold';
	font-weight: 700;
}

%Rubik-500 {
	font-family: 'Rubik-Medium';
	font-weight: 500;
}

%Rubik-400 {
	font-family: 'Rubik-Regular';
	font-weight: 400;
}