@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'libs';
@import 'glob';

.header {
	color: $header-color;

	padding: 46px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {
	&__list {
		display: flex;
		justify-content: space-between;

		&-item + &-item {
			margin-left: 35px;
		}
	}

	&__list-link {
		color: $header-color;
		font-size: 15px;
		line-height: 12px;

		@extend %Rubik-500;
	}
}

.user-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__link {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link--search {
		border-radius: 50%;
		background-color: #edf1f4;

		width: 50px;
		height: 50px;
	}

	&__center {
		margin: 0 20px;

		width: 178px;
		height: 50px;

		border-radius: 50px;
		background-color: #fcd7b6;

		display: flex;
		justify-content: space-evenly;
		align-items: center;

		.user-nav__img {
			display: block;
			transform: translate3d(0%, 0%, 0);
		}
	}

	&__link--menu {
		border-radius: 50%;
		background-color: $accent-color;

		width: 50px;
		height: 50px;
	}

	&__num {
		position: absolute;
		top: -8px;
		right: -8px;
		z-index: 2;

		width: 16px;
		height: 16px;

		color: $header-color;
		background-color: #fff;

		border-radius: 50%;
		text-align: center;
		font-size: 10px;
		line-height: 16px;

		@extend %DMSans-400;
	}

	&__line {
		width: 1px;
		height: 32px;
		background-color: #fde7d3;
	}
}

.top-slider {
	background: url(../img/slider/bg.png) center no-repeat;
	background-size: cover;

	&__item {
		display: flex !important;
		justify-content: space-between;
		position: relative;
		padding: 215px 0 280px;
	}

	&__content {
		@extend %Rubik-400;

		color: $default-color;
	}

	&__title {
		margin-bottom: 40px;
		font-size: 72px;
		line-height: 70px;
		max-width: 470px;
	}

	&__text {
		max-width: 370px;
		font-size: 18px;
		line-height: 30px;
		color: $header-color;

		margin-bottom: 45px;
	}

	&__btn {
		padding: 21px;

		@extend %Rubik-500;
		font-size: 15px;
		line-height: 12px;

		@extend %button;

		display: inline-block;

		svg {
			margin-left: 60px;
		}
	}

	&__img {
		object-fit: contain;
	}

	.slick-dots {
		position: absolute;
		bottom: 45px;
		left: 50%;
		transform: translateX(-50%);

		display: flex;
		justify-content: center;
		align-items: center;

		li + li {
			margin-left: 10px;
		}

		li {
			button {
				@extend %Rubik-500;
				font-size: 11px;
				line-height: 9px;
				color: $default-color;
				background-color: #fde3cc;

				border: none;
				border-radius: 50%;

				width: 30px;
				height: 30px;
				cursor: pointer;

				transition: all 0.2s linear;
			}

			&.slick-active {
				button {
					background-color: #fff;
				}
			}
		}
	}
}

.features {
	background-color: #fef7f0;
	padding: 45px 0;
	&__inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__item {
		width: 305px;
		padding-left: 75px;

		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 10px;
			left: 10px;
			z-index: 1;
		}

		&:nth-child(1)::before {
			width: 53px;
			height: 53px;

			background: url(../img/features/1.svg) center no-repeat;
		}

		&:nth-child(2)::before {
			width: 54px;
			height: 37px;

			background: url(../img/features/2.svg) center no-repeat;
		}

		&:nth-child(3)::before {
			width: 54px;
			height: 53px;

			background: url(../img/features/3.svg) center no-repeat;
		}

		&-title {
			@extend %DMSans-700;
			font-size: 18px;
			line-height: 40px;
			color: #414141;

			margin-bottom: 4px;
		}

		&-text {
			font-size: 16px;
			line-height: 30px;
			@extend %DMSans-400;
			color: #585858;
		}
	}
}

.products {
	padding: 70px 0 185px;

	&__inner {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		grid-gap: 40px 30px;

		margin-top: 80px;
	}

	&__item {
		position: relative;
		width: 270px;
		height: 380px;

		background-color: #fefefe;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

		display: flex;
		flex-direction: column;
		align-items: center;

		&-photo {
			display: flex;
			justify-content: center;
			align-items: center;

			max-width: 270px;
			width: 100%;
			height: 100%;
		}

		&-info {
			text-align: center;
			min-height: 85px;
			padding-bottom: 35px;

			&__title {
				@extend %DMSans-500;
				font-size: 16px;

				margin-bottom: 10px;
			}

			&__price {
				color: $accent-color;
				@extend %DMSans-700;
				font-size: 16px;
			}

			&__star {
				display: none;
			}

			&__text {
				display: none;
			}
		}

		&-links {
			opacity: 0;

			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			display: flex;
			justify-content: center;
			align-items: center;

			height: auto;

			transition: all 0.2s linear;

			&__link {
				width: 45px;
				height: 45px;
				border-radius: 50%;
				background-color: #fff;

				cursor: pointer;

				display: flex;
				justify-content: center;
				align-items: center;

				transition: all 0.2s linear;

				svg {
					fill: $accent-color;
					display: block;

					transition: all 0.2s linear;
				}

				&:hover {
					background-color: $accent-color;

					svg {
						fill: #fff;
					}
				}
			}

			&__link + &__link {
				margin-left: 15px;
			}
		}

		&:hover &-links {
			opacity: 1;
		}

		.products__item-star {
			display: none;
		}

		&.products__item--line {
			flex-direction: row;

			width: 100%;
			height: 500px;

			background-color: transparent;

			box-shadow: none;

			margin-bottom: 75px;

			.products__item-photo {
				border: 1px solid #f2f2f2;
				background-color: #fefefe;

				max-width: 370px;
			}

			.products__item-info {
				padding: 90px 25px 75px;
				margin-left: 30px;

				text-align: left;

				position: relative;

				&__title {
					@extend %Rubik-400;
					font-size: 40px;
					color: #333;

					margin-bottom: 10px;
				}

				&__star {
					margin-bottom: 20px;

					display: block;
				}

				.jq-ry-container {
					padding: 0;
				}

				&__price {
					@extend %Rubik-400;
					font-size: 30px;
					color: #333;

					margin-bottom: 25px;
				}

				&__text {
					@extend %Rubik-400;
					line-height: 30px;

					margin-bottom: 35px;

					display: block;
				}

				&-links {
					display: flex;
				}

				&__link {
					width: 50px;
					height: 50px;

					background-color: #fff;
					box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

					display: flex;
					justify-content: center;
					align-items: center;

					transition: all 0.2s linear;

					path {
						fill: $accent-color;

						transition: all 0.2s linear;
					}

					&--cart {
						position: relative;

						background-color: $accent-color;
						path {
							fill: #fff;
						}

						&::before {
							content: 'ADD TO CART';
							text-transform: uppercase;
							text-align: center;

							color: transparent;

							@extend %Rubik-400;
							font-size: 15px;

							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							z-index: 3;

							display: flex;
							justify-content: center;
							align-items: center;

							width: 0;
							height: 50px;

							white-space: nowrap;

							transition: all 0.2s linear;

							border-radius: 5px;

							background-color: $accent-color;
						}

						&:hover {
							border-radius: 5px;
							&::before {
								width: 210px;
								color: #fff;
							}
						}
					}

					&:hover {
						background-color: $accent-color;
						path {
							fill: #fff;
						}
					}
				}

				&__link + .products__item-info__link {
					margin-left: 10px;
				}
			}

			.products__item-star {
				display: block;
			}

			.products__item-links {
				display: none;
			}
		}

		&.products__item--grid {
			margin-bottom: 40px;
		}
	}
}

.recommend {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		background-color: #feefe2;

		display: flex;

		width: 870px;
		height: 390px;

		padding: 80px 130px;

		&-img {
			align-self: flex-end;
		}

		&-info {
			padding-left: 73px;

			width: 350px;

			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			justify-content: center;

			&__title {
				font-size: 26px;
				color: $default-color;

				@extend %DMSans-700;

				margin-bottom: 16px;
			}

			&__text {
				margin-bottom: 26px;
				@extend %Rubik-400;
				line-height: 30px;
			}

			&__link {
				background-color: transparent;

				color: $header-color;
				font-size: 15px;

				@extend %Rubik-500;

				display: flex;

				padding: 20px;

				border: 1px solid #b3b7b5;
				border-radius: 5px;

				width: fit-content;
			}

			&__img {
				margin-left: 46px;
			}
		}
	}
}

.design {
	padding: 100px 0 120px;

	&__inner {
		padding-top: 80px;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px 40px;
	}

	&__item {
		background: #f8f8f8 85% no-repeat;

		width: 370px;
		height: 240px;

		padding: 35px 0 0 35px;

		&-title {
			@extend %DMSans-700;
			font-size: 20px;
			color: $title-color;

			margin-bottom: 15px;

			max-width: 190px;
		}

		&-type {
			@extend %DMSans-700;
			color: $accent-color;
		}
	}
}

.video {
	background: url(../img/video/video-bg.png) center no-repeat;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 500px;
}

.blog {
	padding-top: 120px;

	position: relative;
	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		top: 50%;
		left: 0;
		right: 0;
		background-color: #fef7f0;
		width: 100%;
		height: 50%;
		z-index: -1;
	}

	&__article {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 50px;

		&-title {
			@extend %DMSans-700;
			font-size: 36px;
			color: $title-color;
			text-align: left;
			margin-bottom: 0;
		}

		&-link {
			position: relative;

			@extend %DMSans-700;
			color: #262626;

			padding-right: 25px;

			&::after {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				bottom: 0;

				transform: translateY(50%);

				width: 7px;
				height: 12px;

				background: url(../img/blog/arrow.svg) no-repeat;
			}
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;

		margin-bottom: 15px;
	}

	&__item {
		max-width: 370px;

		background-color: #fff;

		border-radius: 5px;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

		&-imgBox__img {
			height: 250px;
			object-fit: cover;
		}

		&-info {
			position: relative;
			padding: 35px 30px 25px;

			&__news {
				position: absolute;
				top: -15px;

				width: 103px;
				height: 30px;

				background-color: $accent-color;
				color: #fff;

				border-radius: 15px;

				text-transform: uppercase;
				text-align: center;
				@extend %Poppins-700;

				display: flex;
				align-items: center;
				justify-content: center;
			}

			&__text {
				font-size: 18px;
				color: #262626;

				margin-bottom: 15px;
			}

			&-content {
				border-top: 1px solid #e0e0e0;

				padding-top: 25px;

				display: flex;

				&__date {
					margin-right: 25px;
				}

				&__date,
				&__author {
					text-transform: uppercase;
					font-size: 12px;
					@extend %Rubik-400;

					color: #222933;
				}
			}
		}
	}
}

.partners {
	background-color: #fef7f0;

	&__inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 250px;
	}
}

.modal {
	padding: 120px 0;

	&__form {
		max-width: 470px;
		width: 100%;
		margin: 0 auto;

		&-label {
			display: block;
			margin-bottom: 25px;

			color: $header-color;
			@extend %Rubik-400;
			font-size: 14px;

			&--checkbox {
				display: inline-block;
				margin-bottom: 0;

				cursor: pointer;
			}
		}

		&-input {
			width: 100%;
			height: 55px;

			border: 2px solid #f6f6f6;

			padding: 0 10px;
			margin-top: 10px;

			color: $header-color;

			transition: all 0.2s linear;

			outline: 1px solid transparent;

			&:focus {
				outline-color: $header-color;
			}

			&--checkbox {
				width: auto;
				height: auto;
				margin: 0;
				padding: 0;
			}
		}

		&-btn {
			@extend %button;
			@extend %Rubik-500;
			font-size: 18px;
			color: #fffefe;
			text-align: center;

			width: 100%;

			padding: 20px 0;

			outline: 1px solid transparent;
			transition: all 0.2s linear;

			&:focus {
				outline-color: $header-color;
			}
		}

		&-extension {
			display: flex;
			justify-content: space-between;

			width: 100%;

			padding: 30px 0;

			border-bottom: 2px solid #f6f6f6;
		}

		&-link {
			display: inline-block;

			color: $header-color;
			@extend %Rubik-400;
			font-size: 14px;
		}
	}

	&__register {
		text-align: center;

		padding-top: 30px;

		&-text {
			@extend %Rubik-400;
			font-size: 14px;
			color: #436372;

			margin-bottom: 25px;
		}

		&-link {
			width: 100%;

			padding: 20px 0;

			border: 2px solid $accent-color;

			display: block;

			color: $default-color;
			@extend %Rubik-500;
			font-size: 18px;

			outline: 1px solid transparent;
			transition: all 0.2s linear;

			&:focus {
				outline-color: $header-color;
			}
		}
	}
}

.terms {
	padding-top: 115px;

	&__item {
		width: 100%;

		&-title {
			@extend %Rubik-500;
			font-size: 24px;
			color: $default-color;

			margin-bottom: 35px;
		}
	}

	&__item + &__item {
		margin-top: 75px;
	}

	&__list {
		list-style-type: none;
		counter-reset: num;
		&-item {
			padding-left: 35px;
			position: relative;

			&__text {
				@extend %Rubik-400;
				line-height: 30px;
			}

			&::before {
				content: '0' counter(num) '.';
				counter-increment: num;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;

				@extend %Rubik-400;
				line-height: 30px;
				color: $default-color;
			}

			&:nth-child(n + 10)::before {
				content: counter(num) '.';
			}
		}

		&-item + &-item {
			margin-top: 30px;
		}
	}
}

.shop {
	padding: 120px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	.filter {
		width: 270px;
		max-width: 270px;
		width: 100%;

		&__item {
			margin-bottom: 50px;

			&-title {
				text-transform: uppercase;
				@extend %DMSans-700;
				font-size: 18px;
				color: $default-color;

				margin-bottom: 30px;

				position: relative;

				padding-right: 55px;

				display: inline-block;

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;

					width: 40px;
					height: 3px;

					background-color: $accent-color;
				}
			}
		}
	}

	.filter-category {
		&__label {
			display: block;
			cursor: pointer;
		}

		&__label + .filter-category__label {
			margin-top: 5px;
		}

		&__checkbox {
			display: flex;
			justify-content: space-between;

			@extend %Rubik-400;
			font-size: 16px;

			background-color: transparent;
			border-radius: 5px;

			transition: all 0.2s linear;
			padding: 15px 10px;
		}

		&__input {
			@extend %checkbox-hidden;

			&:checked + .filter-category__checkbox {
				background-color: #edf1f4;
			}
		}
	}

	.filter-price {
		&__label {
			display: flex;
			justify-content: space-between;
			@extend %Rubik-400;
			font-size: 14px;

			padding-top: 25px;
		}

		.irs-bar {
			background-color: $accent-color;
			top: 0;
			height: 5px;
		}

		.irs-line {
			background-color: $accent-color;
			height: 3px;
			opacity: 0.6;
			top: 0;
		}

		.irs-from,
		.irs-to,
		.irs-min,
		.irs-max {
			display: none;
		}

		.irs--flat {
			height: auto;
			.irs-handle {
				width: 15px;
				height: 15px;
				background-color: $accent-color;

				top: 50%;
				transform: translateY(-50%);

				i:first-child {
					display: none;
				}
			}
		}
	}

	.filter-brand {
		&__label {
			display: block;
			cursor: pointer;
		}

		&__label + .filter-brand__label {
			margin-top: 5px;
		}

		&__input {
			@extend %checkbox-hidden;

			&:checked + .filter-brand__checkbox {
				background-color: #edf1f4;

				.filter-brand__count {
					color: $default-color;
				}
			}
		}

		&__checkbox {
			display: flex;
			justify-content: space-between;

			@extend %Rubik-400;
			font-size: 16px;

			padding: 15px;

			border-radius: 5px;

			transition: all 0.2s linear;
		}

		&__count {
			color: #b3b3b3;
		}
	}

	.filter-recent {
		.recent-product__item + .recent-product__item {
			margin-top: 25px;
		}

		.recent-product__item {
			display: flex;

			&-imgBox {
				width: 70px;
				height: 70px;

				border: 2px solid #f2f2f2;

				display: flex;
				justify-content: center;
				align-items: center;
			}

			&-img {
				object-fit: cover;
			}

			&-info {
				padding: 3px 15px 5px;
			}

			&-title {
				color: #333;
				@extend %Rubik-400;
				font-size: 14px;

				margin-bottom: 10px;
			}

			&-price {
				color: #333;
				@extend %Rubik-400;
				font-size: 15px;

				margin-top: auto;
				margin-bottom: 0;
			}

			.jq-ry-container {
				padding: 0;
			}

			.jq-ry-group {
				margin-bottom: 6px;
			}
		}
	}

	&-content {
		width: 100%;

		margin-left: 30px;

		&__inner--grid {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
}

.product-page {
	padding: 120px 0 115px;

	.product-one {
		&__inner {
			display: flex;
			justify-content: space-between;

			margin-bottom: 75px;
		}

		&__slider {
			width: 550px;
			margin-right: 50px;

			display: flex;

			&-thumb {
				width: 140px;

				margin-right: 25px;

				&__item {
					width: 140px;
					height: 160px;

					cursor: pointer;

					border: 1px solid #f2f2f2;
					background-color: #fdfdfd;

					&-img {
						width: 140px;
						height: 160px;

						object-fit: contain;
					}
				}
			}

			.slick-vertical .slick-slide {
				margin-bottom: 25px;

				height: 160px;

				border: none;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&-big {
				width: 387px;
				height: 530px;

				&__item {
					width: 387px;
					height: 530px;

					border: 1px solid #f2f2f2;

					background-color: #fdfdfd;

					display: flex !important;
					justify-content: center;
					align-items: center;

					&-img {
						width: 387px;
						height: 530px;

						object-fit: contain;
					}
				}
			}
		}

		&__info {
			width: 570px;
			padding-left: 16px;
			padding-top: 21px;

			&-title {
				@extend %Rubik-400;
				font-size: 40px;
				color: #333;

				margin-bottom: 16px;
			}

			&-star {
				margin-bottom: 33px;
			}

			.jq-ry-container {
				padding: 0;
			}

			.jq-ry-group {
				svg + svg {
					padding-left: 13px;
				}
			}

			&-price {
				@extend %Rubik-400;
				font-size: 30px;
				color: #333;

				margin-bottom: 22px;
				margin-left: 3px;
			}

			&-text {
				margin-left: 6px;
				margin-bottom: 28px;

				line-height: 30px;
			}

			.jq-number {
				padding: 0;
				margin-left: 5px;

				position: relative;

				height: 53px;
				width: 148px;

				&__field {
					width: 148px;
					height: 53px;

					display: flex;
					justify-content: center;
					align-items: center;

					border: 1px solid $accent-color;
					border-radius: 0;
					box-shadow: none;

					input {
						text-align: center;

						width: 100%;

						border: none;

						@extend %Rubik-400;
						font-size: 15px;
						color: #333;
					}
				}

				&__spin {
					&::after {
						top: 0;
						position: absolute;
						top: 50%;

						width: 6px;
						height: 1px;

						cursor: pointer;
					}
				}

				.minus {
					width: 50px;
					height: 53px;
					position: absolute;
					left: 0;
					top: 0;

					border-right: 1px solid $accent-color;
					cursor: pointer;

					&::after {
						content: '';

						position: absolute;
						top: 48%;
						left: 21px;

						width: 6px;
						height: 1px;

						background-color: #333;
					}
				}

				.plus {
					width: 50px;
					height: 53px;

					position: absolute;
					right: 0;
					top: 0;

					border-left: 1px solid $accent-color;

					cursor: pointer;

					&::after {
						content: '';

						position: absolute;
						top: 49%;
						right: 22px;

						width: 7px;
						height: 1px;

						background-color: #333;
					}

					&::before {
						content: '';

						position: absolute;
						top: 23px;
						right: 25px;

						width: 1px;
						height: 8px;

						background-color: #333;
					}
				}
			}

			&-btn {
				@extend %button;
				border-radius: 5px;

				margin-left: 12px;
				margin-bottom: 55px;
				padding: 20px 51px;

				@extend %Rubik-400;
				letter-spacing: 1px;
			}

			&-list {
				margin-left: 5px;
				&__item {
					@extend %Rubik-400;

					display: flex;

					&-link {
						color: $default-color;

						margin-left: 4px;
					}
				}

				&__item + .product-one__info-list__item {
					margin-top: 11px;
				}
			}
		}
	}

	.product-tabs {
		&__top {
			display: flex;
			justify-content: center;

			margin-bottom: 30px;

			&-item {
				background-color: #edf1f4;
				color: $default-color;

				display: flex;
				justify-content: center;
				align-items: center;

				@extend %Rubik-500;
				font-size: 18px;

				border-radius: 5px;

				width: 240px;
				height: 53px;

				transition: all 0.2s linear;

				& + .product-tabs__top-item {
					margin-left: 13px;
				}

				&.product-tabs__top-item--active {
					background-color: $accent-color;
					color: #fff;
				}
			}
		}

		&__content {
			&-item {
				display: none;

				&.product-tabs__content-item--active {
					display: block;
				}

				&__text {
					line-height: 30px;
				}
			}
		}
	}
}

.related {
	&__top {
		display: flex;
		justify-content: space-between;

		margin-bottom: 60px;
	}

	&__title {
		text-align: left;
		@extend %DMSans-700;
		font-size: 36px;
		color: $default-color;

		margin-bottom: 0;
	}

	&__arrow {
		border: 2px solid #edf1f4;
		border-radius: 5px;

		width: 50px;
		height: 50px;

		background-color: transparent;

		cursor: pointer;

		transition: all 0.2s linear;

		& + .related__arrow {
			margin-left: 15px;
		}

		path {
			fill: $accent-color;
		}

		&:hover {
			border-color: $accent-color;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}
}

.footer {
	&-top {
		padding: 80px 0 75px;
		display: flex;

		border-bottom: 1px solid #dae4e9;

		&__item--contact {
			width: 200px;
			margin-right: 100px;
		}

		&__logo {
			display: block;
			margin-bottom: 25px;
			align-self: end;
		}

		&__address,
		&__phone,
		&__email {
			@extend %Rubik-400;
			font-size: 14px;
			line-height: 24px;
			color: $footer-color;

			margin-bottom: 10px;

			display: block;
		}

		&__item--services {
			width: 170px;
			margin-right: 130px;
		}

		&__title {
			padding-top: 15px;
			margin-bottom: 30px;
			@extend %DMSans-700;
			font-size: 16px;
			line-height: 21px;
			color: #1f2044;
		}

		&__menu-item {
			margin-bottom: 14px;
		}

		&__menu-link {
			color: $footer-color;
			@extend %Rubik-400;
			font-size: 14px;
			line-height: 1;
		}

		&__item--nav {
			width: 100px;
			margin-right: 200px;
		}

		&__item--newsletter {
			max-width: 270px;
		}

		&__text {
			font-size: 14px;
			line-height: 24px;
			@extend %Rubik-400;
			color: $footer-color;

			margin-bottom: 35px;
		}

		&__form {
			display: flex;

			&-input {
				max-width: 170px;

				border: none;

				padding: 12px 15px;
				outline: 1px solid transparent;

				background-color: #fef7f0;

				transition: all 0.2s linear;

				&::placeholder {
					@extend %DMSans-400;
					color: #234969;
					font-size: 12px;
				}

				&:focus {
					outline-color: #a3bbc8;
				}
			}

			&-btn {
				background-color: #a3bbc8;
				color: #fff;

				@extend %DMSans-400;
				font-size: 14px;
				line-height: 21px;

				padding: 10px 17px;

				border: none;
				cursor: pointer;
			}
		}
	}

	&-bottom {
		padding: 35px 0;

		@extend %Rubik-400;
		font-size: 14px;
		line-height: 16px;
		color: $footer-color;

		display: flex;
		justify-content: space-between;

		&__menu-list {
			display: flex;
			justify-content: space-between;
		}

		&__menu-item + &__menu-item {
			border-left: 2px solid $footer-color;

			margin-left: 14px;
			padding-left: 14px;
		}

		&__menu-link {
			color: $footer-color;
		}
	}
}

@import 'media';
