.contact {
	padding-top: 120px;

	&__suptitle {
		@extend %Poppins-700;
		color: $accent-color;
		text-align: center;
	}

	&__title {
		@extend %DMSans-700;
		font-size: 35px;
		text-align: center;
		color: $header-color;

		margin-bottom: 70px;
	}

	&__links {
		display: flex;
		justify-content: space-between;

		margin-bottom: 115px;
	}

	&__item {
		width: 370px;
		height: 385px;

		padding: 70px 50px 75px;

		background-color: #fbfbfb;

		text-align: center;

		border: 2px solid transparent;

		transition: all 0.2s linear;

		&:hover {
			border-color: $accent-color;

			.contact__item-imgBox {
				background-color: $accent-color;

				path {
					fill: #fff;
				}
			}
		}

		&-imgBox {
			box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
			border-radius: 20px;

			background-color: #fff;

			width: 80px;
			height: 80px;

			margin: 0 auto 60px;

			display: flex;
			justify-content: center;
			align-items: center;

			transition: all 0.2s linear;

			path {
				fill: $accent-color;

				transition: all 0.2s linear;
			}
		}

		&-title {
			color: #222;
			@extend %DMSans-700;
			font-size: 20px;

			margin-bottom: 20px;
		}

		&-info {
			@extend %Rubik-400;
			color: #565872;

			a {
				@extend %Rubik-400;
				color: #565872;

				margin-bottom: 15px;
				display: inline-block;
			}

			div {
				margin-bottom: 15px;
			}
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__form {
		margin-right: 50px;

		&-input {
			width: 300px;

			input {
				width: 300px;

				background-color: #fafafa;
				border: none;

				&::placeholder {
					text-transform: uppercase;
					color: #565872;
				}
			}
		}

		&-input + &-input {
			margin-left: 15px;
		}

		&-textarea {
			textarea {
				background-color: #fafafa;
				border: none;

				&::placeholder {
					text-transform: uppercase;
					color: #565872;
				}
			}
		}

		&-btn {
			border-radius: 5px;
		}
	}
}

@media (max-width: 1050px) {
	.contact {
		&__links {
			flex-wrap: wrap;
			justify-content: center;
		}

		&__item {
			margin: 15px 30px;
		}

		&__form {
			margin-right: 0;
			width: 100%;

			&-input {
				width: 100%;
				display: block;

				input {
					width: 100%;
				}
			}

			&-input + &-input {
				margin-left: 0;
			}
		}
		#map {
			display: none;
		}
	}
}

@media (max-width: 630px) {
	.contact__item {
		width: 100%;
		height: auto;
		padding-bottom: 10px;
	}
}
