.about-team {
	padding-top: 120px;

	&__inner {
		display: flex;
	}

	&__info {
		width: 300px;

		margin-right: 100px;

		&-title {
			@extend %DMSans-700;
			font-size: 36px;

			margin-bottom: 20px;
		}

		&-text {
			@extend %Rubik-400;
			line-height: 30px;

			margin-bottom: 35px;
		}

		&-link {
			@extend %button;
			display: inline-block;

			border-radius: 5px;

			padding: 15px;

			img {
				display: inline-block;
				margin-left: 15px;
			}
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		grid-gap: 40px 30px;

		&-item {
			position: relative;

			width: 370px;
			height: 380px;

			&__img {
				width: 370px;
				height: 320px;

				object-fit: cover;
			}

			&__info {
				position: absolute;
				box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);

				bottom: 0px;
				left: 0;

				width: 320px;
				height: 110px;

				display: flex;
				justify-content: space-between;
				align-items: center;

				background-color: #fff;

				&-box {
					padding-left: 20px;

					&__title {
						@extend %DMSans-700;
						font-size: 22px;
						color: $header-color;

						margin-bottom: 5px;
					}

					&__subtitle {
						@extend %Rubik-400;
						color: #565872;
					}
				}

				&-share {
					padding-right: 20px;

					&__item {
						border-radius: 50%;

						width: 40px;
						height: 40px;

						background-color: #f6f6f6;

						display: inline-flex;
						justify-content: center;
						align-items: center;

						margin-left: 5px;

						transition: all 0.2s linear;

						path {
							fill: #929292;

							transition: all 0.2s linear;
						}

						&:hover {
							background-color: #f6f6f6;

							path {
								fill: darken($accent-color, 30%);
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.about-team {
		&__inner {
			display: block;
		}

		&__info {
			width: 100%;

			margin-bottom: 30px;
		}

		&__content {
			justify-items: center;
		}
	}
}

@media (max-width: 830px) {
	.about-team {
		&__content {
			grid-template-columns: repeat(1, 1fr);

			&-item {
				width: fit-content;

				&__info {
					width: 100%;
					right: 0;
				}
			}
		}
	}
}
