.related {
	&__top {
		display: flex;
		justify-content: space-between;

		margin-bottom: 60px;
	}

	&__title {
		text-align: left;
		@extend %DMSans-700;
		font-size: 36px;
		color: $default-color;

		margin-bottom: 0;
	}

	&__arrow {
		border: 2px solid #edf1f4;
		border-radius: 5px;

		width: 50px;
		height: 50px;

		background-color: transparent;

		cursor: pointer;

		transition: all 0.2s linear;

		& + .related__arrow {
			margin-left: 15px;
		}

		path {
			fill: $accent-color;
		}

		&:hover {
			border-color: $accent-color;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 1200px) {
	.related {
		.products__item {
			width: 230px;

			&-photo {
				padding: 0 20px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.related {
		&__inner {
			flex-wrap: wrap;
			justify-content: center;
		}

		.products__item {
			width: 270px;

			margin: 15px 40px;

			&-photo {
				padding: 0;
			}
		}
	}
}

@media (max-width: 830px) {
	.related {
		.products__item {
			margin: 15px 10px;
		}
	}
}

@media (max-width: 630px) {
	.related {
		.products__item {
			margin: 15px;

			width: 100%;
		}
	}
}

@media (max-width: 550px) {
	.related__top {
		display: block;
	}

	.related__title {
		margin-bottom: 20px;
	}
}
