.header {
	color: $header-color;

	padding: 46px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {
	&__list {
		display: flex;
		justify-content: space-between;

		&-item + &-item {
			margin-left: 35px;
		}
	}

	&__list-link {
		color: $header-color;
		font-size: 15px;
		line-height: 12px;

		@extend %Rubik-500;
	}
}

.user-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__link {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link--search {
		border-radius: 50%;
		background-color: #edf1f4;

		width: 50px;
		height: 50px;
	}

	&__center {
		margin: 0 20px;

		width: 178px;
		height: 50px;

		border-radius: 50px;
		background-color: #fcd7b6;

		display: flex;
		justify-content: space-evenly;
		align-items: center;

		.user-nav__img {
			display: block;
			transform: translate3d(0%, 0%, 0);
		}
	}

	&__link--menu {
		border-radius: 50%;
		background-color: $accent-color;

		width: 50px;
		height: 50px;
	}

	&__num {
		position: absolute;
		top: -8px;
		right: -8px;
		z-index: 2;

		width: 16px;
		height: 16px;

		color: $header-color;
		background-color: #fff;

		border-radius: 50%;
		text-align: center;
		font-size: 10px;
		line-height: 16px;

		@extend %DMSans-400;
	}

	&__line {
		width: 1px;
		height: 32px;
		background-color: #fde7d3;
	}
}

@media (max-width: 1050px) {
	.header__inner {
		flex-wrap: wrap;
	}
	.menu {
		display: block;
		position: absolute;
		top: 125px;
		left: 0;
		right: 0;
		z-index: 5;

		overflow: hidden;

		transform: translateY(-400%);
		transition: all 0.35s linear;

		&.menu--active {
			display: block;

			transform: translateY(0);
			transition: all 0.35s linear;

			background-color: rgba(255, 255, 255, 0.95);
		}

		.menu__list {
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&-item {
				text-align: center;
			}

			&-item + .menu__list-item {
				margin-left: 0;
				margin-top: 10px;
			}
		}
	}
}

@media (max-width: 550px) {
	.header {
		padding: 20px 0;
	}

	.menu {
		top: 80px;
	}

	.user-nav {
		&__link--search {
			width: 40px;
			height: 40px;
		}

		&__center {
			width: 100px;
			height: 40px;

			margin: 0 5px;
		}

		&__link--menu {
			width: 40px;
			height: 40px;
		}
	}
}

@media (max-width: 400px) {
	.header {
		&__inner {
			display: block;
		}
	}

	.user-nav {
		margin-top: 10px;
	}
}
