.blog-page {
	padding: 120px 0;

	&__inner {
		display: flex;
	}

	&__content {
		max-width: 830px;
		width: 100%;

		margin-right: 70px;
	}

	&__item {
		margin-bottom: 50px;

		&-imgBox {
			position: relative;
			display: block;

			border-bottom: 1px solid #96a2a7;

			margin-bottom: 40px;

			&__img {
				object-fit: cover;

				width: 830px;
				height: 500px;
			}

			&__info {
				position: absolute;

				bottom: 0;
				left: 0;

				width: 275px;
				height: 70px;

				background-color: $accent-color;

				display: flex;
				justify-content: space-around;
				align-items: center;

				&-date {
					@extend %Rubik-400;
					font-size: 12px;
					color: #fff;

					text-transform: uppercase;

					padding-left: 20px;

					position: relative;

					&::before {
						content: "";

						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;

						background: url(../img/calendar.svg) center no-repeat;

						width: 12px;
						height: 13px;
					}
				}

				&-author {
					@extend %Rubik-400;
					font-size: 12px;
					color: #fff;

					text-transform: uppercase;

					padding-left: 20px;

					position: relative;

					&::before {
						content: "";

						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;

						background: url(../img/user.svg) center no-repeat;

						width: 11px;
						height: 13px;
					}
				}
			}
		}

		&-box {
			&__title {
				@extend %Rubik-400;
				font-size: 36px;
				color: #333;

				margin-bottom: 35px;
			}

			&__text {
				@extend %Rubik-400;

				margin-bottom: 40px;
			}

			&__link {
				border: 1px solid $accent-color;

				width: 180px;
				height: 60px;

				display: flex;
				justify-content: space-around;
				align-items: center;

				color: $accent-color;
				outline: 1px solid transparent;

				transition: all 0.2s linear;

				svg path {
					fill: #a3bbc8;
					transition: all 0.2s linear;
				}

				&:hover {
					background: $accent-color;
					color: #fff;

					svg path {
						fill: #fff;
					}
				}

				&:focus {
					outline-color: darken($accent-color, 10%);
				}
			}
		}
	}

	&__aside {
		width: 270px;
	}
}

@media (max-width: 1050px) {
	.blog-page {
		&__inner {
			flex-direction: column-reverse;
		}

		&__content {
			margin: 0 auto;
		}
	}
}
