.design {
	padding: 100px 0 120px;

	&__inner {
		padding-top: 80px;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row: auto;
		grid-gap: 30px 40px;
	}

	&__item {
		background: #f8f8f8 100% no-repeat;

		min-height: 240px;

		padding: 35px 0 0 35px;

		&-title {
			@extend %DMSans-700;
			font-size: 20px;
			color: $title-color;

			margin-bottom: 15px;

			max-width: 190px;
		}

		&-type {
			@extend %DMSans-700;
			color: $accent-color;
		}
	}
}

@media (max-width: 1050px) {
	.design {
		&__inner {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (max-width: 630px) {
	.design {
		padding-bottom: 60px;

		&__inner {
			grid-template-columns: repeat(1, 1fr);
		}

		&__item {
			background-image: none !important;
			background-color: #f8f8f8;

			padding-left: 0;
			padding-top: 0;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			text-align: center;
		}
	}
}
