<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/index.min.css" />
		<title>GLEE</title>
	</head>
	<body>
		{% include 'app/module/header/header.html' %}

		<main class="main">

			{# {% include 'app/module/top-slider/top-slider.html'%} #}
			{# {% include 'app/module/features/features.html'%}
			{% include 'app/module/products/products.html' %}
			{% include 'app/module/recommend/recommend.html' %}
			{% include 'app/module/design/design.html' %}
			{% include 'app/module/video/video.html' %}
			{% include 'app/module/blog/blog.njk' %} #}

		</main>

		{% include 'app/module/footer/footer.html' %}

		<script src="js/main.min.js"></script>
	</body>
</html>
